/*
Resource: https://bootsnipp.com/snippets/featured/message-chat-box
Inspiré du snippet et retranscrit pour la pluspart du code
*/
.container {
    margin-top: 20px;
    max-width: 1150px;
}

img {
    max-width: 100%;
}

.chatbox {
    height: 600px;
    border: 1px solid #c4c4c4;
}

.inbox {
    float: left;
    width: 40%;
    border-right: 1px solid #c4c4c4;
    background: #f8f8f8;
}

.inbox_header {
    width: 100%;
    height: 45px;
    background: #f8f8f8;
    border-bottom: 1px solid #c4c4c4;
}

.inbox_title {
    height: 100%;
    display: inline-block;
    padding-left: 10px;
    float: left;
    font-size: 21px;
    color: #05728f;
}

.inbox_search {
    float: right;
    text-align: right;
    display: inline-block;
    width: 60%;
    padding-right: 10px;
    padding-top: 5px;
    color: #707070;
    font-size: 18px;
}

.searchField {
    background: #f8f8f8;
    border: 1px solid #cdcdcd;
    border-width: 0 0 1px 0;

}

.inbox_list {
    height: 553px;
    overflow-y: scroll;
}

.inbox_item {
    display: inline-block;
    border-bottom: 1px solid #c4c4c4;
    width: 100%;
    height: 90px;
    margin-bottom: -5px;
    cursor: pointer;
}
.delete_msg{
    display:inline-block;
    position:relative;
    font-size: 14px;
    float:right;
    margin-top:-30px;
    margin-right:10px;
}

.active_item {
    background: #ebebeb;
    cursor: default;

}

.item_icon {
    padding-top: 5px;
    padding-left: 5px;
    float: left;
    width: 10%;
}

.item_content {
    display: inline-block;
    float: right;
    width: 90%;
    padding-left: 10px;

}

.item_details {
    padding-top: 12px;
    color: #464646;
}

.item_details h5 {
    font-size: 15px;
}

.item_details > h5 span {
    font-size: 13px;
    float: right;
    padding-right: 15px;
}

.item_subject {
    height: 50px;
    display: block;
    overflow: no-content;
    font-size: 14px;
    color: #989898;
}

.inbox_newbutton{
    position: relative;
    color: #05728f;
    font-size: 45px;
    float: left;
    background: none;
    border: 0;
    margin-top: -70px;
}

/*----------------------------------*/
.history {
    float: left;
    padding: 30px 15px 0 25px;
    width: 60%;
    background: white;
}

.mesgs {
    height: 516px;
    overflow-y: auto;
}

.message_in {
    display: inline-block;
    padding: 0 0 0 10px;
    width: 92%;
}

.message_icon {
    display: inline-block;
    vertical-align: top;
    width: 6%;
}

.message_in_content {
    display: inline-block;
    width: 57%;
}

.message_in p {
    width: 100%;
    font-size: 14px;
    color: #646464;
    padding: 5px 10px 5px 12px;
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 5px;

}

.message_details {
    display: block;
    font-size: 12px;
    color: grey;
}

.message_out {
    width: 52%;
    float: right;
    margin: 26px 0 26px;
}

.message_out p {
    width: 100%;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 12px;
    background: #05728f;
    border-radius: 5px;
}

.message_out_content {
}

.message_details {
    color: #747474;
    display: block;
    font-size: 12px;
    margin-left: 5px;
    margin-top: -15px;
}

/*----------------------------------*/
.message_new {
    display: inline-block;
    width: 60%;
    border-top: 1px solid #c4c4c4;
    min-height: 48px;

}

.message_new > textarea {
    width: 100%;
    height: 48px;
    resize: none;
    background: white;
    border: medium none;
    padding-right: 50px;
}

.send_buton {
    color: #05728f;
    float: right;
    background: white;
    border: 0;
    position: relative;
    margin-top: -50px;
    margin-right: 15px;
}
